<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <nav>
        <a href="{% url 'list_projects' %}">Main page</a>
      </nav>
      <div>
        <h1>{{ detail_project.name }}</h1>
        <p>{{ detail_project.description }}</p>
        <h2>Tasks</h2>

        <table>
          <thead>
            <th>Name</th>
            <th>Assignee</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
          </thead>

          <tbody>
            {% for item in detail_project.tasks.all %}
            <li>{{ item.name }}</li>
            <li>{{ item.assignee }}</li>
            <li>{{ item.start_date }}</li>
            <li>{{ item.due_date }}</li>
            <li>{{ item.is_complete }}</li>
            {% empty %}
            <p>This project has no tasks</p>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
