{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'create_project' %}">Create a project</a>
        <a href="{% url 'create_tasks' %}">Create a task</a>

      </nav>
    </header>
    <main>
      <div>
        <h1>My Projects</h1>

        <table>
          <thead>
            <th>Name</th>
            <th>Number of tasks</th>
          </thead>
          <tbody>
            {% for item in list_project %}
            <a href="{% url 'show_project' item.id %}">{{ item.name }}</a>
            {{ item.tasks.all|length }} {% empty %}
            <p>You are not assigned to any projects</p>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
